<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pr">
        <activity
            android:name=".screens.ItemOrderProductLight"
            android:exported="false" />
        <activity
            android:name=".OrderHistory"
            android:exported="false" />
        <activity
            android:name=".screens.OneOrder"
            android:exported="false" />
        <activity
            android:name=".OrderRowCart"
            android:exported="false" />
        <activity
            android:name=".screens.Payment_page"
            android:exported="false" />
        <activity
            android:name=".screens.Favorites"
            android:exported="false" />
        <activity
            android:name=".screens.UserProfile"
            android:exported="false" />
        <activity
            android:name=".screens.CartList"
            android:exported="false" />
        <activity
            android:name=".screens.TableItems"
            android:exported="false" />
        <activity
            android:name=".screens.UpdateItem"
            android:exported="false" />
        <activity
            android:name=".screens.UpdateUser"
            android:exported="false" />
        <activity
            android:name=".screens.OneUser"
            android:exported="false" />
        <activity
            android:name=".screens.TableUsers"
            android:exported="false" />
        <activity
            android:name=".screens.Item_page"
            android:exported="false" />
        <activity
            android:name=".screens.AdminPage"
            android:exported="false" />
        <activity
            android:name=".screens.AddItem"
            android:exported="false" />
        <activity
            android:name=".screens.Information_page"
            android:exported="false" />
        <activity
            android:name=".screens.Book_page"
            android:exported="false" />
        <activity
            android:name=".screens.LogIn"
            android:exported="false" />
        <activity
            android:name=".screens.SignUp"
            android:exported="false" />
        <activity
            android:name=".screens.HomePage"
            android:exported="false" />
        <activity
            android:name=".screens.MainActivity"
            android:exported="false" />
        <activity
            android:name=".screens.splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>